<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #container{
            border: 1px solid brown;
            margin-bottom: 10px;
            padding-top: 5px;
        }
    </style>
</head>

<body>
{% for article in articles %}
    <div id="container"> 
        <p>
        <h3>{{article.title}}</h3>
        <div>作者：{{article.user.username}}</div>
        </p>
        <p>
            {{article.content}}
        </p>
        <div>{{article.pdatetime}}</div>
    </div>
{% endfor %}
</body>

</html>