{% extends 'base.html' %}
{% block title %}
用户登录
{% endblock %}

{% block styles %}
{{super()}}
<style>
    #container {
        padding-top: 30px;
        width: 1000px;
        height: 600px;
        margin: 0 auto;
    }

    #container h1 {
        text-align: center;
        margin-bottom: 50px;
    }

    #container form {
        margin: 0 auto;
    }

    #tab {
        font-size: 20px;
        text-align: left;
        margin-bottom: 50px;
    }

    #tab span {
        display: inline-block;
        width: 120px;
        text-align: center;
        cursor: default;
    }

    .tips {
        color: red;
        font-size: 14px;
    }

    #btnCheck {
        width: 140px;
    }
</style>
{% endblock %}
{% block newcontent %}
<div id="container">
    <h1>用户登录</h1>
    <div id="tab">
        <span>用户名 / 密码</span> | <span>手机验证码</span>
        <p id="tips">{{msg}}</p>
    </div>
    <div class="logintab">
        <form class="form-horizontal" method="post" action="{{url_for('user.login')}}?f=1">
            <div class="form-group">
                <label for="inputUsername" class="col-sm-2 control-label col-md-offset-1">用户名</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="inputUsername" placeholder="username" name="username">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-sm-2 control-label col-md-offset-1">密码</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="inputPassword" placeholder="password"
                        name="password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-4">
                    <button type="submit" class="btn btn-primary">登 录</button>
                    <button type="submit" class="btn btn-primary">重 置</button>
                </div>
            </div>
        </form>
    </div>
    <div class="logintab">
        <p class="tips">{{msg}}</p>
        <form class="form-horizontal" method="post" action="{{url_for('user.login')}}?f=2">
            <div class="form-group">
                <label for="inputPhone" class="col-sm-2 control-label col-md-offset-1">手机号码</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="inputPhone" placeholder="请输入手机号码"
                        name="phone"><span></span>
                </div>
            </div>
            <div class="form-group">
                <label for="inputCode" class="col-sm-2 control-label col-md-offset-1">验证码</label>
                <div class="col-md-4">
                    <input type="number" class="form-control" id="inputCode" placeholder="请输入验证码" name="code">
                </div>
                <div class="col-md-2">
                    <input type="button" id="btnCheck" class="btn btn-info" value="发送验证码">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-4">
                    <button type="submit" class="btn btn-primary">登 录</button>
                    <button type="submit" class="btn btn-primary">重 置</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{super()}}
<script>
    $(function () {
        // 显示|隐藏 登录方式
        $(".logintab").hide()
        $(".logintab").first().show()
        $("#tab span").each(function (i) {
            $(this).click(function () {
                $(".logintab").hide();
                $(".logintab").eq(i).show();
            })
        });
        // 发送验证码
        $('#btnCheck').click(function () {
            let phone = $('#inputPhone').val();
            let span_obj = $('#inputPhone').next('span')
            span_obj.css({ 'color': 'red', 'font-size': '12px' });
            if (phone.length == 11) {
                // 发送Ajax
                $.get("{{url_for('user.send_message')}}", { phone: phone }, function (data) {
                    if (data.code == 200) {
                        alert('短信发送成功请查收');
                    } else {
                        alert(data.msg)
                    }
                });
            } else {
                span_obj.text('必须输入11位手机号码')
            }
        });

    }
    )
</script>
{% endblock %}