{% extends 'base.html' %}

{% block title %}
相册列表
{% endblock %}

{% block styles %}
{{super()}}
<style>
    #container{
        padding-top: 30px;
        width: 1000px;
        height: 600px;
        margin: 0 auto;
    }
    img{
        width: 50%;
        height: 50%;
    }
    #photo{
        text-align-last: center;
        margin-bottom: 30px;
    }
</style>
{% endblock %}

{% block newcontent %}
<div id="container">
    {% for photo in photos.items %}
        <div id="photo">
            <img src="http://zoe-blog.oook.fun/{{photo.photo_name}}" alt="">
        </div>
    {% endfor %}
    <nav auia-lable="...">
        <ul class="pager">
            <li class="previous {% if not photos.has_prev %}disable{% endif %}">
                <a href="{{url_for('user.myphoto')}}?page={{photos.prev_num}}"><span aria-hidden='true'>&larr;</span>上一页</a>
            </li>
            <li class="next {% if not photos.has_next %}disable{% endif %}">
                <a href="{{url_for('user.myphoto')}}?page={{photos.next_num}}"><span aria-hidden='true'>&rarr;</span>下一页</a>
            </li>
        </ul>
    </nav>
    
</div>
{% endblock %}